body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.selected {
	background-color: orange;
}

.selected p{
	color: white;
	font-weight: bold;
}

#editOrder form{
		width: 15%;
}

#takenTime{
	background-color: green;
}

#upTime{
	background-color: grey;
}